body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.text1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

div.mycontainer {
    width:100%;
    overflow:auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

div.mycontainer div {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.navbar{
    background-color: rgb(127, 125, 247);
    position: sticky;
    height: 90px;
    

}
.navbar img{
    width: 90px;
    height: auto;
    float: left;

}

.navbar nav{
    padding: 30px;
    text-align: center;
}

.navbar a{
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navbar:hover {
    color: black;
}


.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

