

body {
    background-color: black;
    background-image: url(images/backgroundindexgradient.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Goldman", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 30;
}

#image {
    transition: opacity 0.5s ease-in-out;
}

.text1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.mycontainer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 2%;
    font-size: 30px;

}

.mycontainernabidka{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    gap: 30px;
    font-size: 30px;
    margin:10px;
    border-radius: 10px;
}


.mycontainernabidka img{
    grid-column: 1;
    width: 100%;
    height: auto;
    padding: 20px;
}

.mycontainernabidka p{
    grid-column: 2;
}

.mycontainernabidka button{
    font-family: "Goldman", sans-serif;
    color: #ffffff;
    background-color: #474747;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.mycontainernabidka button:hover{
    background-color: rgb(53, 53, 53);
}

.mycontainer div {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 10px;

}

.mycontainer table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}
.mycontainer button{
    font-family: "Goldman", sans-serif;
    color: #ffffff;
    background-color: #474747;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.mylink{
    color: #0cc0df;
}

.mylink:hover{
    color:white;
}

table ,th ,td {
    border: 2px solid #474747;
    border-collapse: collapse;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;

}


th, td{
    background-color: white;
}

.mycontainer img{
    height: auto;
    width: 300;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}

.navbar{
    background-color: #474747;
    position: sticky;
    height: 90px;
}

.navbar img{
    width: 90px;
    height: auto;
    float: left;
}



.navbar nav{
    padding: -1px;
    text-align: left;
}

.navbar a{
    color: #ffffff;
    padding-top: 33px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 25px;
    border-width: 1px;
}

.navbar nav a:hover{
    background-color: rgb(53, 53, 53);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    width: 100%;
    background-color: #474747;
    color: #fff;
    padding: 0px;
    text-align: center;

  }



  @media screen and (max-width: 1000px){
    .mycontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-size: 28px;
        margin-left: 0px;
        margin-right: px;
    }

    .mycontainer img{
        height: 180;
        width: auto;
        padding-top: 2px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .mycontainer table{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        font-size: 25px;
        text-align: center;
    }
  }

  

  @media screen and (max-width: 600px) {
    
    iframe{
        width: 300px;
        height: 250px;
    }

    .sidebar {
      display: none;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 15px;
    }

    table ,th ,td {
        border: 2px solid #474747;
        border-collapse: collapse;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    
    th, td{
        background-color: white;
    }

    .navbar{
        background-color: #474747;
        position: sticky;
        height: 60px;
    }
    
    .navbar img{
        width: 60px;
        height: auto;
        float: left;
    }
    
    .navbar a{
        color: #ffffff;
        padding-top: 33px;
        padding-bottom: 20px;
        padding-left: 13px;
        padding-right: 13px;
        text-decoration: none;
        font-size: 17px;
        border-width: 1px;
        text-align: center;
    }

    .mycontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-size: 22px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .mycontainer img{
        height: auto;
        width: 300;
        padding-top: 2px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }


    .mycontainernabidka{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px;
        font-size: 20px;
        margin: 0px;
        margin-bottom: 20px;

    }
    
    .mycontainernabidka img{
        height: auto;
        width: 300;
        grid-column: 1;
        grid-row: 1;
    }
    
    .mycontainernabidka p{
        grid-column: 1;
        grid-row: 2;
    }


  }


  @media screen and(max-width: 420px){
    iframe{
        width: 100px;
        height: 250px;
    }
    .mycontainernabidka img{
        height: auto;
        width: 100;
        grid-column: 1;
        grid-row: 1;
    }
  }

